*,
*:before,
*:after {
    box-sizing: border-box;
}

.container{
    margin: 0 250px;
}

.container-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 250px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgb(250, 250, 250);
    
    
}
.basket{
    border: 2px solid rgb(131, 126, 126);
    border-radius: 50%;
    margin-bottom: 10px;
    
}
.basket img{
    width: 40px;
    height: 40px;
    padding: 5px;
    
}

.banner{
    padding: 40px 0;
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: 50% 50%; 
    width: 100%;
    height: 600px;
    margin-top: 60px;
}

.block{
    position: absolute;
    text-align: center;
    top: 40%;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    
}
.block h1{
    
    margin: 0 0 18px;
    font-weight: 600;
    font-size: 60px;
    line-height: 1.5;
    color: #fff;

}
.block button{
    text-decoration: none;
    background-color: rgb(70, 70, 224);
    color: rgb(250, 250, 250);
    display: inline-block;
    vertical-align: top;
    padding: 0.5em 1.5em;
    border-radius: 8px;  
    text-align: center;
    line-height: 25px;
    font-weight: 400;
    font-size: 20px;
    align-self: flex-end;
    transition: box-shadow .3s ease;
}
.search-form {
    margin-top: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60px;
    border: 0.5px solid rgb(131, 126, 126);
    border-radius: 10px;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    background: #fff;
   
}
.search-input {
    position: absolute;
    top: 10px;
    left: 60px;
    
    background: none;
    color: #5a6674;
    width: 600px;
    height: 40px;
    font-size: 20px;
    border: none;
    appearance: none;
    outline: none;
}
.search-button {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 25px;
    width: 25px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}  
.search-option {
    position: absolute;
    text-align: right;
    top: 5px;
    right: 15px;
    
}
.filter-button,
.settings-button{
    border: 2px solid rgb(70, 70, 224);
    border-radius: 50%;
    background-color: rgb(70, 70, 224);
    color: rgb(250, 250, 250);
    margin-left: 10px;
    padding: 3px;
    cursor: pointer;
}
.filter-button:hover,
.settings-button:hover{
    background-color: rgb(40, 40, 134);;
}
.img-svg{
    filter: invert(96%) sepia(96%) saturate(286%) hue-rotate(97deg) brightness(101%) contrast(84%)!important;
}
.filter-button img,
.settings-button img{
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-bottom: 30px;
    text-decoration: none;
    color:  #a7b1bd;
}

/* filter */

.filter{
    width: 0px;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow-x: hidden;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    position: absolute;
    left: 250px;
    z-index: 1;
    background: white;
   
}
.filter-price-product{
    display: flex;
    flex-direction: column;
}
.filter-price img{
    margin-top: 40px;
}
.from,
.to{
    margin:20px 40px;
    display: flex;
    justify-content: space-between;
}
.from-price,
.to-price{
    width: 125px;
    text-align: center;
    border: 1px solid #a7b1bd;
    border-radius: 5px;
}
.filter-price,
.filter-color,
.filter-memory,
.filter-os,
.filter-display{
    width: 100%;
    border-bottom: 2px solid #e6e2e2;
    font-weight: normal; 
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.filter-price span,
.filter-color span,
.filter-memory span,
.filter-os span,
.filter-display span{
    margin: 20px 40px 5px;
    font-size: 20px;
}
.filter-price span{
    margin-top: 30px;
}
.filter-window-price,
.filter-window-color,
.filter-window-memory,
.filter-window-os,
.filter.widow-display{
    display: block;
}
.vector-price,
.vector-color,
.vector-memory,
.vector-os,
.vector-display{
    width: 15px;
    height: 15px;
    margin: 20px 20px 5px;
    filter: brightness(0) saturate(100%) invert(54%) sepia(11%) saturate(15%);
    cursor: pointer;
}
.color,
.memory{
    display: flex;
}
.color-right,
.memory-right{
    margin: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.color-left,
.memory-left,
.os-left,
.display-left{
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.color-right input,
.memory-right input{
    margin-bottom: 10px;
}
.color-left input,
.memory-left input,
.os-left input,
.display-left input{
    margin-bottom: 10px;

}
.filter-color,
.filter-memory,
.filter-os,
.filter-display{
    border-top: 2px solid #e6e2e2;
}
.color-left div,
.color-right div,
.memory-left div,
.memory-right div,
.os-left div,
.display-left div{
    margin: 15px;
}



/* cards */

.cards-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.card-product{
    width: 320px;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
}
.card-header{
    display: flex;
    justify-content: flex-end;
}
.like{
    min-width: 40px;
    min-height: 40px;
    margin: 20px;
}
.like img{
    width: 35px;
    height: 35px;
}
.like-active{
    min-width: 40px;
    min-height: 40px;
    margin: 20px;
}
.like-active img{
    width: 35px;
    height: 35px;
    filter: brightness(0) saturate(100%) invert(17%) sepia(95%) saturate(6773%) hue-rotate(2deg) brightness(101%) contrast(118%);
}
.card-main{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}
.card-image img{
    width: 300px;
    height: 300px;
}
.card-main .title{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}
.card-information{
    font-size: 25px;
    color: #4e5155;
    line-height: 10px;  
}
.card-information .information{
    display: flex;
    justify-content: center; 
}
.availability,
.price{
    font-weight: bolder;
}
.card-main .add{
    text-decoration: none;
    background-color: rgb(69, 69, 202);
    color: rgb(250, 250, 250);
    vertical-align: top;
    padding: 0.5em 1.5em;
    border-radius: 8px;  
    text-align: center;
    line-height: 25px;
    font-weight: 400;
    font-size: 28px;
    align-self: center;
}
.card-main button a{
    text-decoration: none;
    color: rgb(250, 250, 250) ;
}
.card-main .btn-noactive{
    background-color: #DDDDDD;
    border: none;
}
.img-like{
    filter: brightness(0) saturate(100%) invert(17%) sepia(95%) saturate(6773%) hue-rotate(2deg) brightness(101%) contrast(118%);
}

.card-footer img{
    display: flex;
    align-self: flex-start;
    margin: 20px 0;
}
.card-footer{
    margin-top: auto;
    background-color: rgb(226, 229, 243);
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(56, 54, 54);
    line-height: 25px;
    font-size: 20px;
}
.positive,
.interest,
.number-orders{
    font-weight: bolder;
}

.orders{
    text-align: center;
    
}

/* product-page */

.modal-window{ 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
    overflow: auto;
    display: flex;
    justify-content: center;
    
}
.product-page{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #c5c0c088;
    position: relative;
    
}
.product-item{
    background-color: white;
    overflow: auto;
    position: absolute;
    top: 15%;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    

}
.product-item-body,
.product-item-img{
    border-right: 2px solid #a7b1bd;
}

.product-item-body{
    width: 100%;
    
}
.product-item-body,
.price-information,
.product-item-information{
    display: flex;
    flex-direction: column;
}
.product-item-img{
    width: 33%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.product-item-image{
    width: 100%;
}
.product-item-body{
    width: 40%;
    padding: 50px 20px 80px;
}
.product-item-body .title2{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}
.card-info{
    background-color: rgb(226, 229, 243);
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(56, 54, 54);
    line-height: 25px;
    font-size: 20px;
    width: 100%;
}
.product-item-information{
    font-size: 25px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.color-product{
    width: 100%;
    word-spacing: 3px;
}
.product-item-information span{
    line-height: 35px;
}
.price-information{
    width: 33%;
    align-items: center;
    align-self: center;
}

.price2,
.znakprice{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.onstock{
    font-size: 30px;
}
.positive2,
.number-orders2{
    font-weight: bold;
}
.add-btn{
    text-decoration: none;
    background-color: rgb(69, 69, 202);
    color: rgb(250, 250, 250);
    vertical-align: top;
    padding: 0.5em 1em;
    border-radius: 8px;  
    text-align: center;
    line-height: 25px;
    font-weight: 400;
    font-size: 28px;
    align-self: center;
    margin-top: 30px;
}
.colorname,
.systemname,
.chipname,
.heightname,
.widthname,
.depthname,
.weightname,
.stock{
    font-weight: bold;
}

/* //Style to basket */
.basket-list{
    display: none;
    width: 400px;
    overflow: auto;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    position: fixed;
    top: -12px;
    right: 250px;
    z-index: 9999;
    
}
.basket-window{
   
    display: flex;
    flex-direction: column;
    
}
.basket-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid #5a6674;
    
}
.basket-header span:first-child{
    font-size: 40px;
    font-weight: bold;
}
.basket-header span:last-child{
    font-size: 20px;
    color: #5a6674;
}
.basket-body{
    display: flex;
    flex-direction: column;
}
.basket-item{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    border-bottom: 1px solid #5a6674;
}
.basket-body-change{
    display: flex;
    justify-content: space-between;
}
.basket-img{
    width: 100px;  
}
.basket-info-title{
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    margin-bottom: 10px;
}
.basket-info-price{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(210, 224, 250);
    color: rgb(11, 15, 241);
    width: 60px;
}
.basket-info{
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 20px;
    align-self: center;

}
.basket-count{
    width: 100px;
    display: flex;
    align-self: center;
}
.count-number{
    width: 30px;
    height: 34px;
    margin: 0 5px;
    font-size: 30px;
    color: rgb(97, 97, 206);
    text-align: center;
}
.button-left{
    transform: rotate(180deg);
   
}
.left-button,
.right-button{
    background-color: rgb(69, 69, 202);
    width: 30px;
}
.button-left,
.button-right{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
}
.delete-button{
    background-color: #f7b9b9;
    width: 30px;
    height: 34px;
    display: flex;
    align-self: center;
    border: none;
}
.button-delete{
    width: 25px;
    height: 25px;
    text-align: center;   
}
.basket-result{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    font-size: 20px;
    background-color: rgb(210, 224, 250);
}
.totalamount,
.totalptice{
    color: #5a6674;
}
.buy{
    display: flex;
    justify-content: center;    
}
.button-buy{
    
    background-color: rgb(69, 69, 202);
    margin: 30px;
    border-radius: 15px;
    color: #DDDDDD;
    padding: 20px 100px;
    font-size: 30px;
}











@media (max-width:1495px){
    .card-product{
        width: 400px;
    } 
    .product-item{
        flex-direction: column;
        height: 800px;
        width: 500px;
     
    }
    .product-item-body,
    .product-item-img{
    border-right: 0;
    border-bottom: 1px solid rgb(131, 126, 126);
    padding: 10px 20px;
    }
    .onstock{
        width: 200px;
    }
    .price-information {
        width: 100%;
    }
    .product-item-body {
        width: 100%;
        
    }
    .product-item-img {
        width: 100%;
        margin-top: 300px;
    } 
    .add-btn{
        margin-bottom: 30px;
    }  
}
@media (max-width:1299px){
    .cards-list{
        justify-content: center;
    }
    
}


@media (max-width:799px){
    .card-product{
        width: 250px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .card-image img{
        width: 180px;
        height: 180px;
       
    }
    
}




